body, html {
    height: 100%; 
    font-family: 'Arial', sans-serif;
}

.about1 {
position: fixed;
left: 900px;
top: 250px;
max-width: 500px;
}
.about2 {
    position: fixed;
    left: 100px;
    top: 190px;
    max-width: 250px;
    }

    .about3 {
        position: fixed;
        left: 500px;
        top: 300px;
        max-width: 100px;
        }
        .about4 {
            position: fixed;
            left: 630px;
            top: 280px;
            max-width: 180px;
            }

#Bio_text {
    
   
   
}
