/* 基本重置和全局样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main .help-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

/* 帮助中心的头部 */
.help-header {
    background: url('../Images/Ultra-Wide-Angle-Panoramas-1.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.help-header h1 {
    font-size: 3em; /* 调整大小以符合设计 */
    margin-bottom: 0.5em; /* 为标题之间添加一些间距 */
}

.help-header h2 {
    font-size: 2em;
    font-weight: normal;
    margin-bottom: 2em; /* 为搜索框添加一些间距 */
}

/* 搜索框样式 */
.search-box {
    position: relative; /* 设置搜索按钮的绝对定位上下文 */
    display: inline-block; /* 使搜索框内联显示 */
    margin-top: 20px;
}

.search-box input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc; /* 添加边框 */
    border-radius: 25px; /* 圆角边框 */
    width: 300px; /* 设置输入框宽度 */
}

.search-box button {
    position: absolute; /* 绝对定位 */
    right: 5px; /* 靠近右侧 */
    top: 50%; /* 向上移动50% */
    transform: translateY(-50%); /* 向下移动自身高度的50%来居中 */
    background-color: transparent; /* 透明背景 */
    border: none;
    cursor: pointer;
    color: #fff; /* 白色图标 */
}

/* 主要内容样式 */
main .content {
    display: flex;
    justify-content: space-around;
    margin-top: 40px; /* 添加一些顶部间距 */
    padding: 0 20px;
}

/* 主题部分的样式 */
.topic {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    width: 45%; /* 每个主题区域占用45%宽度 */
    margin-bottom: 20px;
}

.topic h3 {
    margin-bottom: 20px; /* 为标题和列表添加间距 */
}

.topic ul {
    list-style-type: none; /* 去除列表前的项目符号 */
    padding: 0;
}

.topic ul li {
    padding: 10px 0; /* 列表项间距 */
    border-bottom: 1px solid #ddd; /* 列表项分隔线 */
}

.topic button {
    background-color: #1da1f2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px; /* 按钮顶部间距 */
    display: block; /* 使按钮占满容器宽度 */
    width: 100%;
    box-sizing: border-box; /* 确保宽度包括padding */
}

.topic button:hover {
    background-color: #0d8ddb; /* 按钮悬停状态 */
}

/* 针对屏幕尺寸的响应式设计 */
@media (max-width: 768px) {
    .content {
        flex-direction: column; /* 以列方式排布 */
        align-items: center; /* 居中对齐 */
    }

    .topic {
        width: 90%; /* 移动设备上宽度更宽一些 */
    }
}
