main {
    font-family: Arial, sans-serif; /* for testing */
    background-color: #ffffff;
    margin: 0;
    padding: 0;

    /* test */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.faq-container {
    width: 80%;
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
    border-radius: 8px;
}

.faq-container h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: #333333;
}

.faq-item {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

/* <p> */
.faq-item p {
    padding: 1rem 0;
    line-height: 1.6;
    color: #666666;
}

/* hide summary arrows */
details summary {
    list-style: none;
    cursor: none;
    position: relative;
}

details summary::-webkit-detais-marker {
    display: none;
}

/* hide summary arrows end */

.faq-item summary {
    font-size: 1.2rem;
    color: #333333;
    cursor: pointer;
}

/* animation arrow (click on it onces arrow up */
.faq-item summary::after {
    content: '\25B6'; /*unicode from google (arrow)*/
    float: right;
    transform: rotate(90deg); /* rotation arrow to 90 degres*/
    transition: transform 0.3s ease;
}

/* animation arrow (click on it one more time arrow down */
.faq-item[open] summary::after {
    transform: rotate(-90deg); /* rotation arrow to -90 degres*/
}



.boxes_container {
    width: 300px;
    margin: auto;
}

.gallery_container {

}