* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .top-nav .middle-nav {
    width: 100%;
}

.top-nav {
    background-color: #00b2a9;;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}

.middle-nav {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
}

.search-box .shopping-cart {
    display: flex;
    align-items: center;
}

.logo {
    height: 100px; /* Adjust based on your logo size */
    align-self: center;
    margin: auto 0;
    margin-right: 10%;
}

.search-box input {
    padding: 8px;
    margin-right: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.search-box button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
}

.shopping-cart {
    position: relative; 
    cursor: pointer;
    padding: 10px; 
    background-color: rgb(75, 132, 139);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2.1); 
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: rgb(75, 132, 139);
    color: black;
    border-radius: 100%;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 10px;
}

.cart-tooltip {
    font-size: 13px;
    visibility: visible; /* use javascript to change this attburite */
    width: 300px; 
    background-color: #fff;
    color: #333;
    text-align: left;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 100;

    top: 150%;
    left: 50%;
    transform: translateX(-50%);

    box-shadow: 0 8px 16px 0 rgba(0,0,0,1.2);
}

.cart-tooltip::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: white transparent white transparent;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-item:last-child {
    margin-bottom: 0;
}

.cart-item img {
    width: 50px; /* 调整图片大小 */
    height: 50px;
    border-radius: 50%;
}

.cart-item .item-name {
    flex-grow: 1;
    margin: 0 10px;
}

.cart-item .item-price {
    font-weight: bold;
}

.sub-total {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.checkout-btn {
    width: 100%;
    padding: 10px;
    background-color: #00a2e8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-btn:hover {
    background-color: #008ac7;
}

.bottom-nav {
    background-color: #00b2a9;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.bottom-nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 17px;
}

.bottom-nav a:hover {
    text-decoration: underline;
}

@media (max-width: 800px) {
    .top-nav {
        flex-direction: column;
    }

    .bottom-nav {
        flex-direction: column;
    }
}