.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 100px;
  /* justerer padding places i hele griden */
}

.product-item {
  background-color: #fff;
  border: 1px solid #eaeaea;
  padding: 15px;
  text-align: center;
}

.product-item img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.product-name {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

.product-rating {
  color: rgb(172, 207, 76);
  margin-bottom: 15px;
}

.add-to-cart {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart:hover {
  background-color: #0056b3;
}

/* need to modifications */
.product-price {
  margin-bottom: 15px;
}

.product-hours {
  color: #e44d26;
  font-weight: bold;
}

/*
.orginal-price {
  text-decoration: line-through;
  margin-left: 5px;
}*/