/*  HTML- og BODY-elementene start  */
* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%; 
    font-family: 'Arial', sans-serif;
}
/*  HTML- og BODY-elementene end  */

/*      header start    */
header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#main-nav ul {
    list-style-type: none;
}

#main-nav ul li {
    display: inline;
    margin-right: 10px;
}

#main-nav a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f4f4f4;
}
/*      header end    */


/*      footer start    */
footer {
    background-color: #000;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

#footer-container ul {
    list-style: none;
    padding: 0;
}

#footer-container li {
    display: inline;
    margin-right: 20px;
}

#footer-container li:last-child {
    margin-right: 0;
}

#footer-container li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s ease;
}

#footer-container li a:hover {
    color: #007bff;
}
/*      footer end    */




/* home button */
#HomePage-Button {
    background-color: #000;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#HomePage-Button:hover {
    background-color: #5f615f;
}

/*
#ViewMore {
    background-color: #000;
    color: white;
    border: none;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}*/

#viewMore {
    background-color: #000;
    color: white;

    display: inline-block;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 10px;

    text-align: center;
    text-decoration: none;
}

#viewMore:hover {
    background-color: #5f615f;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery-item {
    width: 200px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
}

.gallery-item img:hover {
    transform: scale(1.1);
}
